html
	head
		title ToDo Manager
		link(rel="stylesheet" type="text/css" href='dist/bootstrap.min.css')
		link(rel="stylesheet" type="text/css" href='dist/main.css')
		script(src="node_modules/core-js/client/shim.min.js")
		script(src="node_modules/zone.js/dist/zone.js")
		script(src="node_modules/systemjs/dist/system.src.js")
		script(src='dist/system.config.js')
		script
			include ../dist/test.js